.recipe-display-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin: 1em;
}

.recipe-display-img {
  width: 100%;
}

.recipe-details {
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  padding-right: 2em;
}

.recipe-ingredients-list {
  flex: 1;
}

.recipe-instructions {
  flex: 1.5;
}

@media (max-width: 992px) {
  .recipe-display-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}

@media (max-width: 768px) {
  .recipe-details {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
  }
}
