.recipe-card {
  height: 100%;
}

.recipe-card-body {
  text-align: center;
  padding: 1em 0.4em 0em 0.4em;
}

.recipe-link {
  text-align: center;
  font-size: 1.2em;
}

.recipe-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.recipe-image {
  aspect-ratio: 3 / 2;
}
