.home-page-background {
  width: 100vw;
  min-height: 95vh;
  background: url("../../assets/foodmainpic.png");
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Center the image */
  display: flex;
  justify-content: center;
  align-items: center;
}
