.recipe-card {
    height: 100% !important;
  }
  
  .recipe-card-body {
    text-align: center !important;
    padding: 1em 0.4em 0em 0.4em !important;
  }
  
  .recipe-link {
    text-align: center !important;
  }
  
  .recipe-link:hover {
    cursor: pointer !important;
    text-decoration: underline !important;
  }
  