.alert {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9000;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

@media (max-width: 576px) {
  .alert {
    width: 75%;
  }
}

.alert.show {
  opacity: 1;
}

.alert.hide {
  opacity: 0;
}
