.not-found-background {
  width: 100vw;
  min-height: 100vh;
  background: url("../../assets/notfoundbackground.png");
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center; /* Center the image */
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-card {
  color: black;
  width: 40%;
  opacity: 90%;
}

.not-found-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 35%;
}

@media (max-width: 568px) {
  .not-found-links {
    flex-direction: column;
  }
}
