.search-bar {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-button {
  border-radius: 50px;
  margin-top: 2em;
  margin-left: 2em;
  height: 4em;
}

.search-input-container {
  position: relative;
  z-index: 1;
}

#search-input {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  background-color: white;
}

#ingredient-input {
  width: 100%;
}

#search-input::placeholder {
  color: hsl(0, 0%, 50%);
  opacity: 1;
}

#search-input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.tabs-container {
  position: relative;
  left: 3px;
  top: 5px;
}

.tab {
  border-top: 0em;
  border-bottom: 2em solid #f0e68c;
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid transparent;
  background-color: transparent;
  font-size: 0.8em;
  height: 0;
}

.tab.selected {
  border-bottom: 2em solid #ffd700;
}
