.search-bar {
  width: 90%;
}

.search-button {
  border-radius: 50px;
  margin-left: 3em;
}

#search-input {
  background-color: aliceblue;
  border-radius: 50px;
  height: 3em;
  font-size: 1.2em;
}

#search-input::placeholder {
  color: gray;
  opacity: 1;
}

#search-input:focus,
#search-input:hover {
  border: 2px solid black;
  background-color: aliceblue;
}
