/* Navbar General Styling */
.navbar {
  background-color: #f0f0f5;
  padding: 0.5em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 360px;
}

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 2.2rem;
  color: #ff6699 !important;
}

.navbar-brand:hover {
  color: #ff3366 !important;
}

/* Navbar Links */
.navbar-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #333;
  margin: 0 1.5rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.navbar-link:hover {
  color: #ff6699 !important; /* Change text color on hover */
  text-decoration: underline;
}

.icon {
  font-size: 2em;
}
