input#signup-email:focus:invalid,
input#signup-password:focus:invalid,
input#username:focus:invalid {
  background: #fff8c4 url(../../assets/red.png) right 10px center/contain
    no-repeat;
  background-size: 1.25em;
  border-color: #dc3545;
}

input#signup-email,
input#signup-password,
input#username {
  padding-right: 2em;
}
