.macro-pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.marco-pie-legend {
  border: 3px solid black;
  border-radius: 12px;
  margin: 0;
}

.marco-list {
  padding: 0.5em;
  margin: 0;
  text-align: center;
}

.nutrient-key {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  gap: 0.5em;
  padding: 0.25em;
}

.carbs-key {
  width: 15px;
  height: 15px;
  background-color: #ffcc00;
}

.fats-key {
  width: 15px;
  height: 15px;
  background-color: #ffa500;
}

.proteins-key {
  width: 15px;
  height: 15px;
  background-color: #ff6347;
}
