.wrapper {
    width: 50%;
    background: burlywood;
    margin: auto;
    margin-top: 20%;
}

.wrapper h4 {
    font-size: 45px;
    text-align: center;
}


.wrapper .mb-3 {
    height: 50px;
}

.wrapper .form-control {
    margin-left: 10px;
}

.btn-signup {
    width: 25%;
    border-radius: 50px;
    background-color: #f96f82;
}

