/* Navbar General Styling */
.navbar {
  background-color: #F5F5F5;
  padding: 0.5em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo{
  height: 75px;

}

/* Navbar Links */
.navbar-link {
  font-family: "Sour Gummy", sans-serif;
  font-size: 1.4rem;
  color: #333;
  margin: 0 1.5rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

.navbar-link:hover {
  color: #ff6699 !important; /* Change text color on hover */
  transform: scale(1.05)
}

.icon {
  font-size: 2em;
}
