.not-found-background {
  height: 100vh;
  background: url("../../assets/signupbackground.jpg") no-repeat center
    center/cover;
  background-position: center;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-found-card {
  color: black;
  width: 40%;
}
